{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}

<h1>About Me</h1>

{% if personal_info %}

<h2>
{{ personal_info.first_name }}
{{ personal_info.middle_name }}
{{ personal_info.last_name }}
</h2>

<p>
{{ personal_info.summary }}
</p>

<p>
Address: {{ personal_info.address }}
</p>

<p>
Email: {{ personal_info.email }}
</p>

<p>
Contact: {{ personal_info.contact_number }}
</p>

{% else %}

<p>No personal information added yet.</p>

{% endif %}

{% endblock %}