{% extends 'base.html' %}


{% block title %}
About
{% endblock %}



{% block content %}

<section class="about">

    <h1>About Me</h1>

    <p>
        I am a passionate Computer Engineering student driven by curiosity and a love for technology. I enjoy combining software and hardware to create innovative, practical solutions while continuously learning and expanding my skills. Every project is an opportunity to solve real-world problems, grow as an engineer, and build technology that makes a meaningful impact.
    </p>


    <h2>My Skills</h2>

    <div class="skills">

        <div class="skill-card">
            <h3>Programming</h3>
            <p>C++, Python, JavaScript</p>
        </div>


        <div class="skill-card">
            <h3>Web Development</h3>
            <p>HTML, CSS, Django</p>
        </div>


        <div class="skill-card">
            <h3>Tools</h3>
            <p>Git, GitHub, VS Code</p>
        </div>


        <div class="skill-card">
            <h3>Hardware</h3>
            <p>Arduino, Embedded Systems</p>
        </div>

    </div>


</section>


{% endblock %}