{% extends 'base.html' %}

{% block title %}
Testimonials
{% endblock %}

{% block content %}

<section class="projects-page">

    <h1>Client Testimonials</h1>

    <div class="project-container">

        {% for testimony in testimonies %}

        <div class="project-card">

            <h2>
                {{ testimony.full_name }}
            </h2>

            <p>
                {{ testimony.content }}
            </p>

            <a href="{% url 'testimony_detail' testimony.id %}">
                Read More
            </a>

        </div>

        {% empty %}

        <p>
            No testimonials yet.
        </p>

        {% endfor %}

    </div>

</section>

{% endblock %}